@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

#contenedorProductos{
    border-radius: 3px black;
    box-shadow: 5px black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#contenedorProductos h5{
    color: rgb(91, 86, 86);
}

#contenedorProductos h5:hover{
    color: blue;
}

#contenedorProductos img{
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
}

#contenedorProductos img:hover{
    border-color: rgb(253, 112, 162);    
    transform: rotateY(15deg);
    transition: transform 0.5s ease;

}

#SM{
    color: rgb(251, 127, 127);
}

#body{
    background-color: #ffb7b7;
}

.container{
    margin-top: 65px;;
}

#contenedorProductos{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

footer div{
    background: #ffcdcd;
}
