@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#contenedorProductos{
    border-radius: 3px black;
    box-shadow: 5px black;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#contenedorProductos h5{
    color: rgb(91, 86, 86);
}

#contenedorProductos h5:hover{
    color: blue;
}

#contenedorProductos img{
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
    border-color: black;
}

#contenedorProductos img:hover{
    border-color: crimson;    
    transform: rotateY(15deg);
    transition: transform 0.5s ease;
}


header h2{
    background: #ec0d84;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: black;
    border-radius: 10px;
    perspective: 50px;
    font-size: 30px;
    box-shadow: 0px 3px 3px black;
}

header h2 marquee b{
    color: #fff;
    border-color: black;
}

header h2 marquee{
    width: 75%;
    animation: scroll;
}

header nav ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5px;
    margin-right: 5px;
    gap: 3px;
    padding: 0;
    list-style: none;
}

header nav ul li a{
    color: black;
    display: block;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    background: rgb(212, 196, 196);
    text-decoration: none;
}

header nav ul li a:hover{
    background: #ffadce;
    color: black;
    border-style: dashed;
    border-color: black;
    zoom: 130%;
}

@keyframes scroll {
    0%{ transform: translateX(100%); }
    100%{ transform: translateX(-100%); }
}

body{
    background-color: #ff80b6;
}

.footer{
    background-color: #ffadce;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-inline-style: solid;
    border-color: rgb(12, 11, 12);
    margin-top: 50px;
    box-shadow: 0px 15px 10px gray;
}


.footer-header, .footer-body, .footer-body-secundary{
    border-style: groove;
    border-inline: initial;
    border-width: 1.5px;
    border-color: #ec0d84;
}

.footer-header{
    padding: 5px;
    display: flex;
    justify-content: center;
}

.footer-body{ 
    padding: 5px;
    border-top: none;
}

.footer-text{
    display: flex;
    justify-content: center;
}

.footer-body-secondary{
    padding: 5px;
    display: flex;
    justify-content: center;
}

#scrollUp {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}